body {
    background-image: url("wallpaper.jpg");
    background-size: 374px 547px;
    color: white;
    font-family: sans-serif;
}
.settings{
    position: absolute;
    bottom: 10px;
    left: 30px;
}
